.imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.charList {
    display: flex;
    list-style-type: none;
}

.charList li {
    padding-left: 30px;
}

.found {
    font-style: italic;
}