body {
    border: 0;
    margin: 0;
}

.navbar {
    display: flex;
    background: lightgrey;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar_image_not_found,.navbar_image_found {
    height: 80px;
    width: 60px;
    margin: 20px;
}

.navbar_image_found {
    opacity: 0.4;
}

.timer {
    position: absolute;
    right: 10px;
    align-self: center;
    font-size: 22px;
}

.intro {
    text-align: center;
    margin-top: 180px;
}

.imageList {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.intro_image {
    height: 200px;
    width: 140px;
    margin: 40px
}

.startGameButton {
    background: lightslategray;
    color: white;
    border: 0;
    padding: 10px;
    box-shadow: 1px 1px black;
    border-radius: 5%;
    cursor: pointer;
}

.gameDiv {
    text-align: center;
    margin-top: 130px;
}

.gameImage {
    margin: 50px;
}

.menuDiv {
    background: lightgray;
}

.menuItem {
    padding: 5px;
    padding-right: 30px;
}

.menuItem:hover {
    background: gray;
    cursor: pointer;
}

.leaderboard {
    margin-top: 200px;
}

.leaderboard tr {
    border: none;
}

.leaderboard th {
    background: lightgray;
}

.leaderboard td {
    padding: 10px;
}

.notification {
    position: fixed;
    top: 150px;
    left: 45%;
    background: black;
    color: white;
    padding: 15px;
    opacity: 0.8;
    transition: all 0.5s ease-in;
}

.nameModal {
    height: 100%;
    width: 100%;
    background-color: rgba(99, 74, 74, 0.5); 
    color: white;
    z-index: 1;
    overflow: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}